<div ng-controller="WidgetFormCtrl" ng-init="editMode=true">

  <ng-include src="templates/widget-warnings.html"></ng-include>

  <form class="form-horizontal" ng-submit="updateWidget(widget)" name="createWidgetForm">
    <!-- foo foo form form blah blah -->
  </form>

  <div class="form-group">
      <div class="text-right">
        <button type="submit" class="btn btn-info btn-small" ng-hide="widget.id">Create Widget</button>
        <button type="submit" class="btn btn-info btn-small" ng-show="widget.id">Update Widget</button>
        <div ng-click="back(widget)" class="btn btn-danger btn-small">Cancel</div>
      </div>
  </div>
</div>